// -----------------------------------------------------------------------------
// Базовый контейнер проекта
// -----------------------------------------------------------------------------

.container {
  width: 100%;
  max-width: $isg-container-max;
  margin-left: auto;
  margin-right: auto;
  display: flex;

    flex-direction: column;
  

 
}

@media (max-width: 1099px) {
  .container {
    max-width: 100%;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}

