



.container {
display: flex;
flex-direction: column;
    margin: auto;
    max-width: calc(100% - max(4.4pc, min(5.556vw, 6.65pc)));
    width: 100%;
}

@media (max-width: 1440px) {
    .container {
        max-width:calc(100% - max(2.2pc, min(2.778vw, 53.2px)));
    }
}

@media (max-width: 1100px) {
    .container {
        max-width:calc(100% - min(8.333vw, 34.5px));
    }
}
