


:root {
      --container-width:calc(100% - max(4.4pc, min(5.556vw, 6.65pc)));
}


@media (max-width: 1099px) {

    :root {
     --container-width: calc(100% - max(4.4pc, min(5.2vw, 102px)));
}
 
}

@media (max-width: 768px) {
        :root {
      --container-width:calc(100% - min(7.2vw, 32px));
    }
}



.container {
display: flex;
flex-direction: column;
    margin: auto;
    max-width: var( --container-width);
    width: 100%;
}
