



@import "typography";


$isg-container-max:calc(100% - max(4.4pc, min(5.556vw, 6.65pc)));
$isg-gutter: 1.6rem;


$isg-bp-md: 768px;
$isg-section-pad-x: 6.4rem;
$isg-section-pad-x-mobile: clamp(1.85rem, 6.25vw, 2.85rem);
